/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include "keys_de.h"
#include <dt-bindings/zmk/ext_power.h>
//#include "../zmk-nodefree-config/helper.h"




#define XXX &none
#define ___ &trans

#define BASEUSINT 0
#define BASEDE 1
#define SYMUSINT 2
#define SYMDE 3
#define NAV 4
#define NUMPAD 5
#define ADJ 6

#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        //zmk,kscan = &kscan0;
        zmk,matrix-transform = &default_transform;
    };

    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <10>;
        rows = <4>;
        map = <
        RC(0,0) RC(0,1) RC(0,2) RC(0,3) RC(0,4) RC(0,5) RC(0,6) RC(0,7) RC(0,8) RC(0,9)
        RC(1,0) RC(1,1) RC(1,2) RC(1,3) RC(1,4) RC(1,5) RC(1,6) RC(1,7) RC(1,8) RC(1,9)
        RC(2,0) RC(2,1) RC(2,2) RC(2,3) RC(2,4) RC(2,5) RC(2,6) RC(2,7) RC(2,8) RC(2,9)
                                RC(3,3) RC(3,4) RC(3,5) RC(3,6)
        >;
    };

    kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "row2col";

        col-gpios
            = <&pro_micro 14 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 18 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 19 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;

        row-gpios
            = <&pro_micro 16 GPIO_ACTIVE_HIGH>
            , <&pro_micro 10 GPIO_ACTIVE_HIGH>
            , <&pro_micro 8 GPIO_ACTIVE_HIGH>
            , <&pro_micro 9 GPIO_ACTIVE_HIGH>
            ;
    };
            /*                KEY POSITIONS
  ╭────────────────────╮ ╭────────────────────╮
  │  0   1   2   3   4 │ │  5   6   7   8   9 │
  │ 10  11  12  13  14 │ │ 15  16  17  18  19 │
  │ 20  21  22  23  24 │ │ 25  26  27  28  29 │
  ╰───────────╮ 30  31 │ │ 32  33 ╭───────────╯
              ╰────────╯ ╰────────╯            */

//ZMK_COMBO(pwr,  &kp C_POWER, 0 4, ALL)
    combos {
        compatible = "zmk,combos";
        combo_pwr {
            timeout-ms = <50>;
            key-positions = <0 4>;
            bindings = <&kp C_POWER>;
        };

            combo_five {
            timeout-ms = <50>;  // You may adjust this value based on your requirements
            key-positions = <3 13>;
            bindings = <&kp N5>;
        };
            combo_sixde {
            timeout-ms = <50>;  // You may adjust this value based on your requirements
            key-positions = <6 16>;
            bindings = <&kp N6>;
            layers = <BASEDE>;
        };
            combo_sixus {
            timeout-ms = <50>;  // You may adjust this value based on your requirements
            key-positions = <6 16>;
            bindings = <&number6us>;
            layers = <BASEUSINT SYMUSINT>;
        };
            combo_up {
            timeout-ms = <20>;  // You may adjust this value based on your requirements
            key-positions = <11 12 13>;
            bindings = <&kp UP>;
        };
            combo_down {
            timeout-ms = <20>;  // You may adjust this value based on your requirements
            key-positions = <11 13>;
            bindings = <&kp DOWN>;
        };
            combo_right {
            timeout-ms = <20>;  // You may adjust this value based on your requirements
            key-positions = <12 13>;
            bindings = <&kp RIGHT>;
        };
            combo_left {
            timeout-ms = <20>;  // You may adjust this value based on your requirements
            key-positions = <11 12>;
            bindings = <&kp LEFT>;
        };
            combo_scCombo {
            timeout-ms = <50>;  // You may adjust this value based on your requirements
            key-positions = <12 22>;
            bindings = <&scModMorph>;
            layers = <BASEDE BASEUSINT>;
        };
            combo_ecommaCombo {
            timeout-ms = <50>;  // You may adjust this value based on your requirements
            key-positions = <17 27>;
            bindings = <&ecomma>;
            layers = <BASEDE BASEUSINT>;
        };
    };







//macros

macros {
    ecomma: ecomma {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings
        = <&macro_tap &kp E &kp COMMA>
        ;
    };
    sc: sc {
        compatible = "zmk,behavior-macro";
        #binding-cells = <0>;
        bindings
            = <&macro_tap &kp S &kp C>
            ;
    };
    capitalSlowC: capitalSlowC {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings
        = <&macro_tap &kp LS(S) &kp C>
        ;
    };
    bracketde: bracketde {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings
        = <&macro_tap &kp DE_LEFT_BRACKET &kp DE_RIGHT_BRACKET &kp LEFT>
        ;
    };
    bracede: bracede {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings
        = <&macro_tap &kp DE_LEFT_BRACE &kp DE_RIGHT_BRACE &kp LEFT>
        ;
    };
    parende: parende {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings
        = <&macro_tap &kp DE_LEFT_PARENTHESIS &kp DE_RIGHT_PARENTHESIS &kp LEFT>
        ;
    };
    lessgreaterde: lessgreaterde {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings
        = <&macro_tap &kp DE_LESS_THAN &kp DE_GREATER_THAN &kp LEFT>
        ;
    };
    bracketus: bracketus {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings
        = <&macro_tap &kp LEFT_BRACKET &kp RIGHT_BRACKET &kp LEFT>
        ;
    };
    braceus: braceus {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings
        = <&macro_tap &kp LEFT_BRACE &kp RIGHT_BRACE &kp LEFT>
        ;
    };
    parenus: parenus {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings
        = <&macro_tap &kp LEFT_PARENTHESIS &kp RIGHT_PARENTHESIS &kp LEFT>
        ;
    };
    lessgreaterus: lessgreaterus {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings
        = <&macro_tap &kp LT &kp GT &kp LEFT>
        ;
    };
    // "
    qouteusint: qouteusint {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings
        = <&macro_tap &kp LS(APOS) &kp SPC>
        ;
    };
    // '
    singleqouteusint: singleqouteusint {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings
        = <&macro_tap &kp APOS &kp SPC>
        ;
    };
        // ö
    oeusint: oeusint {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings 
        = <&macro_tap &kp LS(APOS) &kp O>
        ;
    };
            // ue
    ueusint: ueusint {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings 
        = <&macro_tap &kp LS(APOS) &kp U>
        ;
    };
            // ae
    aeusint: aeusint {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings 
        = <&macro_tap &kp LS(APOS) &kp A> 
        ;
    };
    // caret us ^
        caretus: caretus {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings 
        = <&macro_tap &kp CARET &kp SPC> 
        ;
    };
    



};



 


//mod morph
 
    behaviors {
        //home row mods

        hm: hm {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            global-quick-tap;
            require-prior-idle-ms = <125>;
            bindings = <&kp>, <&kp>;
        };
        hmhold: hmhold {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&kp>;
        };

        //mod morph
        scModMorph: scModMorph{
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&sc>, <&capitalSlowC>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        germanStyleDot: germanStyleDot {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp COLON>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        germanStyeComma: germanStyeComma {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp SEMICOLON>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        number3de: number3de {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&hm F3 N3>, <&kp DE_SQT>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        number4de: number4de {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&hm F4 N4>, <&hm DE_EURO DE_DOLLAR>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        number8de: number8de {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&hm F8 N8>, <&kp DE_HASH>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        number9de: number9de {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&hm F9 N9>, <&kp DE_QMARK>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        number2us: number2us {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&hm F2 N2>, <&qouteusint >;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        number3us: number3us {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&hm F3 N3>, <&singleqouteusint>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        number4us: number4us {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&hm F4 N4>, <&hm RA(N5) DOLLAR>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        number6us: number6us {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&hm F6 N6>, <&kp LS(N7)>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        number7us: number7us {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&hm F7 N7>, <&kp SLASH>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        number8us: number8us {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&hm F8 N8>, <&kp LS(N3)>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        number9us: number9us {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&hm F9 N9>, <&kp QMARK>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        number0us: number0us {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&hm F10 N0>, <&kp EQUAL>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        timesusint: timesusint {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&hm TILDE PLUS>, <&kp LS(N8)>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        caretusmodmorph: caretusmodmorph { // ^ °
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&caretus>, <&kp LS(RA(N0))>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };       
    };








  keymap {
    compatible = "zmk,keymap";

    baseusint_layer {
      bindings = <
        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
                 &kp Q      &hm ESC W    &hm LSHIFT F    &kp P         &kp B             &kp J          &kp L        &kp U       &hm ESC Y  &kp LC(BSPC)
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
            &hm LCTRL A     &hm LGUI R    &hm RET S    &hm LALT T      &kp G         &kp M       &hm RSHFT N   &hm LALT E    &hm LGUI I    &hm RCTRL O
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
          &lt NUMPAD Z   &hm LALT X      &kp C      &hm LCTRL D   &hm LA(F4) V        &kp K       &hm RALT H    &germanStyeComma &germanStyleDot &kp BSPC
        // ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                       &hmhold NAV TAB   &kp LSHFT    &lt SYMUSINT SPC &kp LC(BSPC)
        //                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
      >;
    };

    basede_layer {
      bindings = <
        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
                 ___           ___           ___           ___           ___               ___           ___           ___       &hm ESC DE_Y      ___
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                 ___           ___           ___           ___           ___               ___           ___           ___           ___           ___
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
            &lt NUMPAD DE_Z    ___           ___           ___           ___               ___           ___        &kp COMMA       &kp DOT        ___
        // ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                           ___           ___           &lt SYMDE SPC     ___
        //                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
      >;
    };
      

      symusint_layer {
      bindings = <
        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
               &kp AT       &aeusint     &ueusint          ___      &kp CARET         &bracketus    &braceus     &parenus     &kp BACKSLASH     ___
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
               &hm F1 N1   &number2us    &number3us     &number4us   &kp RA(S)      &lessgreaterus   &number7us    &number8us   &number9us     &number0us
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             &oeusint         ___            ___     &timesusint         ___       &kp GRAVE  &hm PIPE MINUS     ___           ___           ___
        // ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                           ___           ___               ___          ___
        //                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
      >;
    };

    symde_layer {
      bindings = <
        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
            &kp DE_AT   &kp DE_A_UMLAUT &kp DE_U_UMLAUT    ___      &kp DE_CARET    &bracketde     &bracede       &parende     &kp RA(MINUS)     ___
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
               &hm F1 N1   &hm F2 N2    &number3de        &number4de    &kp DE_AMPS   &lessgreaterde   &hm F7 N7    &number8de    &number9de     &hm F10 N0
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        &kp DE_O_UMLAUT      ___            ___     &hm DE_TILDE DE_PLUS ___          &kp DE_ACUTE &hm DE_PIPE DE_MINUS ___           ___           ___
        // ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                           ___           ___               ___          ___
        //                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
      >;
    };



    nav_layer {
      bindings = <
        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
               &mo ADJ &hm C_PREV C_AC_BACK &kp PG_UP &hm C_NEXT C_AC_FORWARD &kp K_PLAY_PAUSE    ___           ___           ___           ___           ___
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                 ___        &kp HOME      &kp PG_DN      &kp END      &kp C_MUTE       &kp C_BRI_UP      ___           ___           ___           ___
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                 ___           ___         &kp DEL     &kp C_VOL_DN  &kp C_VOL_UP      &kp C_BRI_DN      ___           ___           ___           ___
        // ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                           ___           ___               ___           ___
        //                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
      >;
    };


    base_layer_num {
      bindings = <
        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
               &kp F12      &hm F7 N7     &hm F8 N8    &hm F9 N9         ___               &tog ADJ           ___           ___           ___           ___
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
               &kp F11      &hm F4 N4     &hm F5 N5    &hm F6 N6     &hm F10 N0            ___           ___           ___           ___           ___
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                 ___        &hm F1 N1     &hm F2 N2    &hm F3 N3         ___               ___           ___           ___           ___           ___
        // ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                           ___           ___               ___           ___
        //                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
      >;
    };

    adjust_layer {
      bindings = <
        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
             XXX           &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2   &out OUT_TOG           XXX           XXX           XXX           XXX           XXX
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                &kp CAPS  &bt BT_SEL 3   &bt BT_SEL 4     XXX        &bt BT_CLR           XXX           &kp LEFT    &kp SPC           &kp RIGHT           XXX
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
            &sys_reset     &bootloader   &tog BASEDE       XXX           XXX               XXX           XXX           XXX       XXX    XXX
        // ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                           XXX           XXX               XXX           XXX
        //                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
      >;
    };
  };
};
